body {
  margin: 0;
  padding: 0;
  background-color: #131310;
}

a {
  color: #00B7FF;
}

h1 {
  color: #ffdc01;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 5vmin;
  font-size: 48px;
  display: block;
  text-align: center;
  margin: 0px;
  padding: 36px;
}

div.heading {
  margin: 0;
  background: #383629;
  border-bottom: 1px solid #ffdc01;
}

img.logo {
  float: left;
  margin: 0px;
  padding: 8px;
}

button.toapp {
  font-weight: bolder;
 /* color: white;
  border: 3px groove #0087FF;
  background-color: #0080ff;*/
  font-size: 3vmin;
  /*float: right;*/
  margin: 3px;
}

button:hover {
  border: 3px ridge #0087FF;
  font-size: 3.1vmin;
  margin: 1px;
  cursor: pointer;
}

div.content {
  width: 80%;
  max-width: 1120px;
  margin: auto;
  padding: 36px;
  font-size: 2vmin;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fffefe;
}

hr {
  color: #ffdc01;
}

