body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

h1 {
  color: #fff302;
  font-family: impact;
  font-size: 5vmin;
  display: inline-block;
  margin: 0 5px 0 5px;
}

button.toapp {
  font-weight: bolder;
  color: white;
  border: 3px groove #0087FF;
  background-color: #0080ff;
  font-size: 3vmin;
  float: right;
  margin: 3px;
}

button:hover {
  border: 3px ridge #0087FF;
  font-size: 3.1vmin;
  margin: 1px;
  cursor: pointer;
}

div.heading {
  margin: 0;
  background: black;
}

div.content {
  width: 80%;
  margin: auto;
  font-size: 2vmin;
}

img.logo {
  display: inline-block;
}